modules = ["nodejs-22", "web"]

run = "npm run dev --prefix client"

hidden = [
  ".config",
  ".git",
  "generated-icon.png",
  "node_modules",
  "client/node_modules",
  "dist",
  "client/dist",
]

[nix]
channel = "stable-24_05"
packages = ["railway", "postgresql_12", "nano", "file", "lsof"]

[env]
HOST = "0.0.0.0"
PORT = "3000"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3005
externalPort = 3000

[[ports]]
localPort = 3010
externalPort = 3002

[[ports]]
localPort = 5173
externalPort = 5173

[workflows]

[[workflows.workflow]]
name = "Dev Frontend"
mode = "sequential"
author = 47616575

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev --prefix client"

[[workflows.workflow]]
name = "Production Server"
mode = "sequential"
author = 47616575

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start-replit.sh"
