[build]
builder = "NIXPACKS"

[phases.setup]
nixPkgs = ["nodejs_22"]

[phases.install]
cmds = [
  "npm install",
  "npm --prefix client install",
  "npm --prefix server install"
]

[phases.build]
cmds = [
  "npm --prefix client run build"
]

[start]
cmd = "node server/index.js"

[variables]
NODE_ENV = "production"
PORT = "8080"
